.movies-list {
    padding: 70px 70px 80px 70px;
}

.movies-list__cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    gap: 32px 20px;
    justify-content: center;
}

.card {
    width: 270px;
    height: 218px;
    background-color: green;
}

.movies-list__more-button {
    margin-top: 80px;
    width: 100%;
    border:none;
    border-radius: 6px;
    padding: 10px 0;
    background-color: #F9F9F9;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: opacity .3s ease-in;
}

.movies-list__more-button:hover {
    opacity: .8;
}

@media screen and (max-width: 1024px) {
    .movies-list {
        padding: 70px 30px 80px 30px;
    }

    .movies-list__cards-container {
        grid-template-columns: repeat(auto-fill, 339px);
        gap: 36px 30px;
    }

    .card {
        width: 339px;
        height: 257px;
    }
}

@media screen and (max-width: 544px) {
    .movies-list {
        padding: 40px 10px 80px 10px;
    }

    .movies-list__cards-container {
        grid-template-columns: repeat(auto-fill, 300px);
        gap: 20px 0;
    }

    .card {
        width: 300px;
        height: 235px;
    }
}