.search {
    padding: 80px 70px 10px 70px;
}

.search__form {
    width: 100%;
    margin-bottom: 40px;
}

.search__input-text-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.search__input {
    max-width: 93%;
    width: 93%;
    border: none;
    border-radius: 4px;
    background-color: #F9F9F9;
    padding: 15px 22px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.search__input::placeholder {
    color: #A0A0A0;
}

.search__input:focus {
    outline: none;
}

.search__submit {
    width: 70px;
    height: 40px;
    margin-left: 10px;
    padding: 5px 13px;
    border: none;
    border-radius: 3px;
    background-color: #3456F3;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    cursor: pointer;
    transition: opacity .3s ease-in;
}

.search__submit:hover {
    opacity: .8;
}

.search__filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search__filter-name {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-left: 12px;
}

@media screen and (max-width: 1024px) {
    .search {
        padding: 80px 30px 10px 30px;
    }
}

@media screen and (max-width: 544px) {
    .search {
        padding: 80px 14px 10px 14px;
    }

    .search__form {
        margin-bottom: 43px;
    }

    .search__input-text-container {
        margin-bottom: 45px;
    }

    .search__input {
        padding: 13px 16px;
        font-size: 12px;
        line-height: 18px;
    }

    .search__submit {
        height: 44px;
    }

    .search__filter-name {
        font-size: 11px;
        margin-left: 13px;
    }
}



